<% layout('layout/boilerplate') %> 

  
  <main class="container">
    <div class="mt-2 p-4 p-md-5 mb-4 text-black rounded bg-dark " style="
    background-image: url('assets/test04.jpg'); background-position: center;
">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Now Book & Comapre PGS in One Place</h1>
        <p class="lead text-white my-3">Easy,Simple & Cost Friendly</p>
        <!-- <p class="lead mb-0"><a href="/home/show" class="text-white fw-bold">View All</a></p> -->
        <a class="btn btn-info" href="/home/show" role="button">View All</a>
      </div>
    </div>
  
  
    <div class="row g-5">
      <div class="col-md-8">
        <h3 class="pb-4 mb-4 fst-italic border-bottom">
          Featured Pgs
        </h3>
        
        <div>
            <% for(let pg of Pgs ) { %> 
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                      <strong class="d-inline-block mb-2 text-success">Available</strong>
                      <h3 class="mb-0"><%= pg.title %></h3>
                      <div class="mb-1 text-muted"><%= pg.location %></div>
                      <p class="mb-auto"><%= pg.rating %></p>
                      <a href="/home/<%= pg._id %>" class="stretched-link">View</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                      <img src="<%= pg.image[0].url %> " alt="" srcset="" width="300" height="250">
                      <!-- <svg class="bd-placeholder-img" width="300" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                    </div>
                  </div>
                <%  } %>
        </div>

        <nav class="blog-pagination" aria-label="Pagination">
          <a class="btn btn-outline-primary" href="#">View All</a>
        </nav>
  
      </div>
  
      <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="fst-italic">Local Map Area</h4>
            <p class="mb-0">Local Map Area.</p>
          </div>
  
          <div class="p-4">
            <h4 class="fst-italic">Extras TO add</h4>
            <ol class="list-unstyled mb-0">
              <li><a href="#">FA</a></li>
              <li><a href="#">Exrta info</a></li>
              <li><a href="#">Exrta info</a></li>
              <li><a href="#">Exrta info</a></li>

            </ol>
          </div>
  
          <div class="p-4">
            <h4 class="fst-italic">Connect</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  
  </main>


