<% layout('layout/boilerplate') %> 
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
</head>
<body> -->
    <h1>View Page</h1>
    <div>
        <h2>Id : <%= Pg._id %> </h2>
        <h2>Title : <%= Pg.title %> </h2>
        <img src="<%= Pg.image %> " alt="" srcset="">
        <h2>price : <%= Pg.price %> </h2>
        <h2>description : <%= Pg.description %> </h2>
        <h2>location : <%= Pg.location %> </h2>
        <h2>Rating : <%= Pg.rating %> </h2>
        <br>
        <a href="/home/<%=Pg._id %>/edit">Edit</a>
        <form action="/home/<%= Pg._id %>?_method=DELETE" method="post">
            <button>Delete</button>
        </form>
    </div>
<!-- </body>
</html> -->