<% layout('layout/boilerplate') %>
<link rel="stylesheet" href="/starcss/stars.css">
<link rel="stylesheet" href="/css/view_style.css">
<div id="pop-up-container"class="show">
    <div id="contain-in">
        <h1 id="pop-h">Owner Conatact Details!!</h1>
        <p id="p-text-m"><b><%= Pg.Ownername %></b></p>
        <p id="p-text-m"><b><%= Pg.OwnerContact %></b></p>
        <div id="btn-contain-in"><button id="close">close</button></div>
    </div>
</div>
<div class="containers">
    <div id="img-section">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <%Pg.image.forEach((img,i)=>{ %>
                <div class="carousel-item <%=i===0?'active':''%>">
                    <img src="<%= img.url %>" class="d-block w-100" alt="">
                </div>
                <% }) %>
            </div>
            <% if(Pg.image.length > 1) {%>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            <% } %>
        </div>

    </div>
    <div id="desc-section">
        <div class="col-lg-6 order-3">
            <div class="product_description">
                <div class="product_name"><h2><%= Pg.title.toUpperCase() %></h2></div>
                <div class="product-rating"><span class="badge badge-success"><i class="fa fa-star"></i> <%= Pg.rating %></span> <span class="rating-review">35 Ratings & 45 Reviews</span></div>
                <div> <span class="product_price"><h3>₹ <%= Pg.price %></h3></span></div>
                <hr class="singleline">
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-xs-6" style="margin-left: 25px;"> <span class="product_options">Facilities Available</span><br> <button class="btn btn-primary btn-sm">WIFI</button> <button class="btn btn-primary btn-sm">Televison</button> <button class="btn btn-primary btn-sm">Refrigerator</button> <button class="btn btn-primary btn-sm">Aqua Guard</button> <button class="btn btn-primary btn-sm">Geyser</button> <button class="btn btn-primary btn-sm">AC Room</button> </div>
                        <div class="pr-info"> <span class="break-all"><i class="fa fa-map-marker" aria-hidden="true"></i>
                            <%= Pg.location %></span> </div>
                            <div class="col-xs-6" style="margin-left: 10px;"> <span class="product_options">Room Type </span>  <button class="btn btn-info btn-sm"><%= Pg.roomtype %> Bed</button> </div>
                    </div>
                <hr class="singleline">
                <div class="row">
                    <div class="col-xs-6" style="margin-left: 13px;">
                        <div> <span class="product_info">For Booking<span></div>
                    </div>
                    <div class="col-xs-6">  <button type="button" id="open" class="btn btn-lg btn-success">Contact Owner</button>
                    </div>
                </div>
                <hr class="singleline">
                <div class="row">
                    <div class="col-xs-6" style="margin-left: 13px;">
                        <div> <span class="product_info"> <%= Pg.description %><span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="review-section">
        <div class="rating">
            <h2>Add Reviews</h2>
            <% if(currentUser){ %>
            <form action="/home/<%= Pg._id %>/reviews" method="post">
                <div class="set-rating">
                    <label for="">Rating</label>
                    <div class="ranges">
                        <input type="range" name="review[rating]" id="rangeVal" value="1" min="1" max="5">
                        <!-- <h5 id ="range-txt">1</h5> -->
                    </div>
                </div>
                <div class="add-review">
                    <label for="body">Review</label>
                    <textarea name="review[body]" id="body" cols="30" rows="4" style="resize: none;"
                        required></textarea>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
            <% } %>
        </div>
        <div id="reviews-mv" class="reviews">
            <div class="div-mv">
                <% for(let review of Pg.reviews){ %>
                <div class="review">
                    <img src="https://play-lh.googleusercontent.com/ByaDki7oQ9RZJV2XRVgRUCAHmM6aqApy4TLAiDx4MG2BVtr2ijknHf2taM76CjFBpdc"
                        alt="">
                    <div class="user-rev">
                        <div class="review-i">
                            <p>Rating <%= review.rating %> </p>
                            <p class="starability-result" data-rating="<%= review.rating %>">
                                <p>Review : <%= review.body %> </p>
                        </div>
                        <div class="del">
                            <!-- <button class="btn btn-danger">Delete</button> -->
                            <% if (Pg.author.equals(admin)){ %> 
                            <form action="/home/<%= Pg._id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                            <% } %> 
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>

    </div>
    <div id="sim-items">
        <p>Similar items:</p>
        <div class="sim-imgs">
            <% for(let img of Pg.image) {%>
            <img src="<%= img.url %>" alt="">
            <img src="<%= img.url %>" alt="">
            <img src="<%= img.url %>" alt="">
            <img src="<%= img.url %>" alt="">
            <% } %>
        </div>
    </div>
</div>
<script src="https://kit.fontawesome.com/d489ff2569.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
</script>
<script src="/js/viewfile.js"></script>