<% layout('layout/boilerplate') %> 
    <h1>View Page</h1>
    <div>
        <h2>Id : <%= Pg._id %> </h2>
        <h2>Title : <%= Pg.title %> </h2>
        <img src="<%= Pg.image %> " alt="" srcset="">
        <h2>price : <%= Pg.price %> </h2>
        <h2>description : <%= Pg.description %> </h2>
        <h2>location : <%= Pg.location %> </h2>
        <h2>Rating : <%= Pg.rating %> </h2>
        <br>
        <a href="/home/<%=Pg._id %>/edit">Edit</a>
        <form action="/home/<%= Pg._id %>?_method=DELETE" method="post">
            <button>Delete</button>
        </form>
    </div>
    <h1>Add Review </h1>
    <form action="/home/<%= Pg._id %>/reviews" method="post">
        <div>
            <label class="form-label" for="Rating">Rating</label>
            <input type="range" name="review[rating]" id="Rating" min="1" max="5" required></input>
        </div>
        <div>
            <label class="form-label" for="body">Review</label>
            <textarea name="review[body]" id="body" cols="30" rows="3" required></textarea>
        </div>
        <button>Submit</button>
    </form>
    <br>
    <h1>User Reviews</h1>
    <% for(let review of Pg.reviews){ %>
    <div>
        <p>Rating <%= review.rating %> </p>
        <p>Review : <%= review.body %> </p>
        <form action="/home/<%= Pg._id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
            <button>Delete</button>
        </form>
    </div> 
    <% } %> 